<section class="painel">
  <div>
    <form>
      <div class="container">
        <h1>Controle</h1>
        <div>
          <label>Id Drone: </label>
          <input>

        </div>
        <div>
          <label>Latitude: </label>
          <input>
          
        </div>
        <div>
          <label>Longitude: </label>
          <input>
          
        </div>
        <div>
          <label>Temperatura: </label>
          <input>
          
        </div>
        <div>
          <label>Humidade do Ar: </label>
          <input>
          <mat-slider></mat-slider>          
        </div>
        <button>Ativar rastreamento</button>
      </div>      
    </form>
  </div>
</section>